<div class="container">
    <fieldset>
        <legend>Brand Data:</legend>
    <div class="buttons">
        <button type="button" mdbBtn color="success" mdbWavesEffect>DeActivate</button>
        <button type="button" mdbBtn color="light" mdbWavesEffect>Save</button>
        <button type="button" mdbBtn color="light" mdbWavesEffect>Back</button>
    </div>
    <div class="data">
        <input class="dataEntry" placeholder="ID" disabled>
        <input class="dataEntry" placeholder="Brand Code">
        <input class="dataEntry" placeholder="Website">
        <input class="dataEntry" placeholder="Supply Duration">
        <input class="dataEntry" placeholder="Brand Desc AR">
        <input class="dataEntry" placeholder="Brand Desc EN">
        
    </div>
    </fieldset>
</div>

