<div class="container">
    <fieldset>
        <legend>Coupon Data:</legend>
    <div class="buttons">
        <button type="button" mdbBtn color="success" mdbWavesEffect>DeActivate</button>
        <button type="button" mdbBtn color="light" mdbWavesEffect>Save</button>
        <button type="button" mdbBtn color="light" mdbWavesEffect>Back</button>
    </div>
    <div class="data">
        <input class="dataEntry" placeholder="ID" disabled>
        <input class="dataEntry" placeholder="Coupon Code">
        <input class="dataEntry" placeholder="Discount value">
        <select class="dataEntry">
            <option> Select Discount type</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <input class="dataEntry" placeholder="Supply Duration">
        <input class="dataEntry" placeholder="Coupon Desc AR">
        <input class="dataEntry" placeholder="Coupon Desc EN">
        <input class="dataEntry" placeholder="Valid Days">
        <input class="dataEntry" placeholder="Hint">
        
    </div>
    </fieldset>
</div>

